.StyledSearchclientsspan {
  color: #717182;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.StyledInput {
  width: 448px;
  height: 36px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  overflow: hidden;
  border-radius: 20px;
  outline: 1px solid rgba(0, 0, 0, 0);
  outline-offset: -1px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.StyledInput:focus {
  /* outline: 1px solid #0ea5e9; */
  /* outline-offset: -1px; */
  filter: brightness(0.95);
}

.StyledSearchInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #28332b;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.StyledSearchInput::placeholder {
  color: #717182;
  opacity: 1;
}

.StyledIcon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StyledContainer {
  position: relative;
  width: 100%;
  max-width: 320px;
}