.stat-card {
  min-width: 100px;
  padding: 24px;
  background: var(--secondary-background-item, #f7f7f3);
  border-radius: 20px;
  border: 1px solid var(--accent-2-10_Opacity, rgba(40, 51, 43, 0.1));
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.stat-card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stat-card__icon {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 20px;
  background: var(--stat-card-icon-bg, #f0fdf4);
  /* color: var(--stat-card-icon-fg, #ff0000); */
  flex: 0 0 auto;
}

.stat-card__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stat-card__value {
  color: var(--text-dark);
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 32px;
}

.stat-card__label {
  color: var(--accent-2-40_Opacity);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.stat-card--success {
  --stat-card-icon-bg: #f0fdf4;
  --stat-card-icon-fg: #00a63e;
}

.stat-card--warning {
  --stat-card-icon-bg: #fff7ed;
  --stat-card-icon-fg: #ea580c;
}

.stat-card--danger {
  --stat-card-icon-bg: #fef2f2;
  --stat-card-icon-fg: #dc2626;
}

.stat-card--neutral {
  --stat-card-icon-bg: #f1f5f9;
  --stat-card-icon-fg: #475569;
}